/* Global styles (this affects the whole application) */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-page-container {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  padding: 40px;
  background-color: #f7f8fd;
  min-height: 100%;
}

.sidebar {
  width: 260px;
  padding: 2rem 1rem;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-area {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
}

.company-feedback-box {
  background: linear-gradient(
    to right,
    #6ba7f8,
    #7a88f4,
    #905bf0,
    #a136ec,
    #c144cc,
    #dc74a6,
    #e98a96,
    #ee938e
  );
  border-radius: 12px;
  padding: 16px;
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: flex-end;

  color: white;
  font-weight: 600;
}

.company-feedback-box h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.company-feedback-box p {
  margin: 4px 0 0 0;
  font-size: 16px;
  opacity: 0.95;
}

.category-buttons {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.company-feedback-box,
.category-buttons {
  width: 100%;
}

.category-buttons button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  background-color: #f2f4ff;
  color: #4661e6;
  font-weight: 600;
}

.category-buttons button:hover {
  background-color: #7c91f9;
  color: white;
}

.category-buttons button.active {
  background-color: #4661e6;
  color: white;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #3a4374;
  padding: 20px 24px;
  border-radius: 12px;
  color: white;
  margin-top: 60px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.top-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.add-btn {
  background: #ad1fea;
  padding: 12px 22px;
  border: none;
  border-radius: 10px;

  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.suggestions-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.suggestion-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 28px 32px;
  box-shadow: 0 10px 40px rgba(55, 63, 104, 0.08);
}

.suggestion-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #3a4374;
  margin-bottom: 8px;
}

.suggestion-card p {
  font-size: 16px;
  color: #647196;
  margin-bottom: 16px;
}

.suggestion-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.suggestion-content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #3a4374;
  margin-bottom: 8px;
}

.suggestion-content p {
  font-size: 15px;
  color: #647196;
  margin-bottom: 12px;
}

.category-tag {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 8px;
  background-color: #f2f4ff;
  color: #4661e6;
  font-size: 12px;
  font-weight: 800;
  margin-top: 12px;
}
